<div class="row">
  <div class="small-12 medium-12 large-12 columns">
    <footer>
      <ul>
        <li>&copy; 2015 <a href="index.html">M Squared Development Group LLC</a>. All rights reserved.</li>
        <li><a href="mailto:arbesfeld@gmail.com"><i class="fa fa-envelope-o"></i> arbesfeld@gmail.com</a></li>
      </ul>
      <div class="social-icons">
        <a href="http://www.github.com/arbesfeld" target="_blank"><i class="fa fa-github-square fa-2x"></i></a>
        <a href="http://www.twitter.com/m_arbesfeld" target="_blank"><i class="fa fa-twitter-square fa-2x"></i></a>
        <a href="http://www.facebook.com/matt.arbesfeld" target="_blank"><i class="fa fa-facebook-square fa-2x"></i></a>
        <a href="https://www.linkedin.com/pub/matthew-arbesfeld/9b/542/4b" target="_blank"><i class="fa fa-linkedin-square fa-2x"></i></a>
      </div>
    </footer>
  </div>
</div>

<script src="js/vendor/jquery.min.js"></script>
<script src="js/foundation.min.js"></script>
<script src="js/hawthorne.js"></script>