<div class="row">
  <div class="small-12 medium-12 large-12 small-centered columns">
    <header>
      <h1><a href="{{site.url}}">Matthew Arbesfeld</a></h1>
      <h2><a href="{{site.url}}">Code & Things</a></h2>
      <!--
      <div class="logo">
        <a href="index.html"><img src="img/logo.png" alt="Your Name Here" /></a>
      </div>
      -->
    </header>
  </div>
 <div class="small-12 medium-12 large-12 small-centered columns">
   <nav>
     <ul class="inline-list-custom">
      {% assign sorted_pages = site.pages | sort:"order" %}
      {% for node in sorted_pages %}
        {% if node.nav != nil %}
          {% if page.url == node.url %}
            <li><a href="{{node.url}}" class="current">{{node.title}}</a></li>
          {% else %}
            <li><a href="{{node.url}}">{{node.title}}</a></li>
          {% endif %}
        {% endif %}
      {% endfor %}
     </ul>
   </nav>
 </div>
</div>

